<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741825832218-us3qkb43lv2knebj13h1jelqkqq2k3rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741825832218-us3qkb43lv2knebj13h1jelqkqq2k3rg</string>
	<key>API_KEY</key>
	<string>AIzaSyBavQ3eug9CKgLX6ywA9REj_L38zoY5T9c</string>
	<key>GCM_SENDER_ID</key>
	<string>741825832218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.ecommers</string>
	<key>PROJECT_ID</key>
	<string>flutterecommers</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterecommers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741825832218:ios:29445790bd1fcc9c9878a3</string>
	<key>DATABASE_URL</key>
	<string>https://flutterecommers.firebaseio.com</string>
</dict>
</plist>